/*

Cocktails
style.css
Copyright 2020 Riley Lannon

Some custom styles/fixes to bootstrap elements

*/

#mode-selection button {
    margin:1vh;
    margin-left: 0vh;
}

#query {
    padding-top: 5vh;
}

#query .row {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#query table {
    margin-top: 5vh;
}

#search-button {
    padding-top: 3vh;
}
